{
   "printWidth": 85,
   "tabWidth": 3,
   "singleQuote": true,
   "semi": true,
   "trailingComma": "none",
   "arrowParens": "always",
   "quoteProps": "consistent",
   "endOfLine": "auto",
   "jsxBracketSameLine": true
}
